{% extends "base.html" %}
{% block content %}
    <head>
        <title>HomePage</title>
    </head>
    <body>
        <h1>Welcome to my Blog</h1>
        <h2>This is a blog page to read posts and blogs.</h2>
        <div class="container">
            <p>Here are some post to read:</p>
            <ul>
                {% for post in posts %}
                   <li><a href="{% url 'blog_detail' post.id %}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>

        </div>
    </body>
{% endblock %}