table{
    width:20%
}

table td:nth-child(1), table th:nth-child(1) {
    width: 5%;
  }
  
  table td:nth-child(2), table th:nth-child(2) {
    width: 30%;
  }
  
  table td:nth-child(3), table th:nth-child(3) {
    width: 30%;
  }
  
  table td:nth-child(4), table th:nth-child(4) {
    width: 20%;
  }
  
table, th, td {
    border: 3px double black;
    border-collapse: collapse;
   
}
table tr:nth-child(8) {
    text-align: right;
  }

  